<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>this is  booklist</h1>
    {% for book in books %}
    <ol>
        <li> title:{{ book.title}}</li>
        <li> subtitle: {{ book.subtitle}}</li>
        <li>author:{{book.author}}</li>
        <li>ISBN:{{book.ISBN}}</li>
    </ol>
    {% endfor %}
    
</body>
</html>