{% extends 'base.html'%}
{% load static %}

{% block content %}
    <!-- <img  src="{% static 'images/emmanuel.jpg' %}"> -->
    <h1>THIS IS MY BOOKLIST</h1>
    {% for post in posts %}
    <a href="{{ post.get_absolute_url }}"><h2>title:{{post.title}}</h2></a>
    <p>author:{{post.author}}</p>
    
    <img src="{{post.post_image.url}}"alt="" width="300px" height="300px">
  
    <p class="date">published{{post.publish}} by {{post.author}}</p>
    {{post.body|truncatewords:30|linebreaks}}
    {% endfor %}

{% include "pagination.html" with page=posts %}
{% endblock content %}
