
<div class="container justify-content-center ">
    <ul  class="pagination">
        <li class="page-item">
            {% if page.has_previous %}
              <a href="?page={{page.previous_page_number}}" class="page-link">PREVIOUS</a>
            </li>
            {% endif %}
            <li class="page-item page-link">
                page{{page.number}}
            </li>
            <li  class="page-item page-link">of</li>
             <li class="page-item page-link"> {{page.paginator.num_pages}}</li>
             <li class="page-item"> 
                 {% if page.has_next %}
                <a href="?page={{page.next_page_number}}" class="page-link">NEXT</a>
                {% endif %}
             </li>

    </ul>
   
</div>