@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Raleway:ital,wght@1,300&display=swap');
:root{
    --bg-color: rgb(145, 142, 142);
    --text-color: rgb(247, 220, 220);
    --headline-color: rgb(102, 64, 64);
    --button-color: rgb(136, 105, 194);
    --accent-color:rgb(130, 78, 134);
    --headline-font:'Lato', sans-serif;
    --body-font:'Raleway', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--body-font);
    background-color: var(--bg-color);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--accent-color);
}

.logo{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: var(--headline-font);
}

.burger{
    display: none;
}

nav > .burger > div{
    width: 25px;
    height: 3px;
    background-color: var(--button-color);
    margin: 5px;
    transition: all 0.3s ease;
}


/* tablet zone */
@media screen and (max-width: 1024px) {
    .nav-links{

        width: 50%;
    }
    
}

/* HERO SECTION STARTS HERE */
.heroSection{

    height: calc(100vh - 8vh);
    background-image: url("../images/wizkid-smile-official-video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.heroSection::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:  rgb(190, 221, 78);
    position: absolute;
    opacity: 0.4;
}
.main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 20rem;
}
.sectionTitle{
    color: black;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    font-family: "lato";
    text-shadow: 0 1px black;
}

.main p{
    color: rgb(0, 0, 10);
    line-height: 1.3rem;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

.main .hero{
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    outline: none;
    border: none;

    margin-top: 10px;
    transition: all 0.4s ease-in;
}
.hero:hover{
    background-color: var(--button-color);


}

.hero a{
    padding: 10px 0px;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1rem;
    display: inline-block;
    transition: all 0.4s ease-in;
}

.hero a:hover{
    color: var(--text-color);
}

.category{
    height: 10vh;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    
}
.category a{
    color: var(--text-color);
    text-decoration: none;
}